* {
    background-color: rgba(214, 240, 250, 0.342);
}

body, .button {
    font-family: "Segoe UI";
}
.mainContainer {
    min-height: 100px;
}
.footer {
    min-height: 50px;
}

img {
    border: 2px solid seagreen;
}

table{
    background-color: blue;
    color: White;
    border: 20px solid darkblue;
}